.midButtons_container {
  
}

.midButtons_div {
  display: flex;
  justify-content: space-between;
  max-width: 443px;
  margin-bottom: 45px;
}
.midButtonsIcon_div {
  display: flex;
  justify-content: space-between;
  max-width: 572px;
}

.title {
  font-family: 'Ubuntu Mono';
  font-size: 12px;
  color: #333333;
  margin-bottom: 12px;
}